@import "http://fonts.fontstorage.com/import/poppins.css";
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
}

header{
    display: grid;
    place-items: center;
    height: 580px;
    background-image: linear-gradient(to bottom, #0088dccc,  #ae430780), url(pexels-stas-knop-1626481.jpg);
    background-size: cover;
    background-position: center center;
    border-bottom-left-radius: 50% 45%;
    border-bottom-right-radius: 50% 45%;
    background-attachment: fixed;
}

.content{
    text-align: center;
}

.content h1{
    margin: 0;
    padding: 15px 0;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.content p{
    width: 60%;
    color: #fff;
    line-height: 2;
    margin: 0 auto 30px;
}

.content a{
    background: #fff;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    padding: 10px 30px;
    text-transform: uppercase;
}

.content a:hover{
    background-color: #0000004d;
    color: #fff;
    font-weight: bolder;
    border: 1px solid white;
}

section{
    text-align: center;
    padding: 100px;
}

section h1{
    text-transform: uppercase;
    font-size: 75px;
    margin-bottom: 40px;
}

section p{
    line-height: 2.5;
    text-align: justify;
}